* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', monospace; /* Subtle, minimal font */
}

body {
    background-color: #0d0d0d; /* Dark background */
    color: #fff; /* White text */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
    max-width: 500px;
    width: 100%;
}

.profile-pic {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 50%;
    object-fit: cover;
    filter: grayscale(100%);
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.links a {
    display: block;
    background-color: #333;
    color: white;
    padding: 14px;
    text-decoration: none;
    border-radius: 8px;
    margin-bottom: 12px;
    font-size: 20px;
    transition: background-color 0.3s ease;
    width: 100%;
}

.links a:hover {
    background-color: #555;
}

a:active {
    background-color: #777;
}

a {
    cursor: pointer;
}

@media (max-width: 600px) {
    h1 {
        font-size: 28px;
    }

    .links a {
        font-size: 16px;
        padding: 10px;
    }
}
.resume-btn {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 14px;
    border-radius: 8px;
    margin-bottom: 12px;
    font-size: 20px;
    transition: background-color 0.3s ease;
    width: 100%;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.resume-btn:hover {
    background-color: #555;
}
.resume-btn:active {
    background-color: #555;
}

.resume-box {
    display: none; /* Initially hidden */
    margin-top: 20px;
    border: 2px solid #393939;
    border-radius: 8px;
    padding: 10px;
    background-color: #282828;
}
/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    h1 {
        font-size: 24px;
    }

    .resume-box {
        max-height: none;
        height: auto;
    }

    .links a, .resume-btn {
        font-size: 16px;
        padding: 12px;
    }

    .profile-pic {
        width: 100px;
        height: auto;
    }

    iframe {
        height: 400px;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 20px;
    }

    .profile-pic {
        width: 80px;
    }

    .links a, .resume-btn {
        font-size: 14px;
        padding: 10px;
    }

    iframe {
        height: 300px;
    }
}

